.transport-icon {
	 width: 64px;
	 height: 64px;
}

.arrow {
	 width: 64px;
	 height: 64px;
}

.selected {
	 background: rgba(0, 160, 233, 0.2);
}

.timer {
	 padding: 5px;
	 background: rgba(153, 153, 153, 0.5);
	 border-radius: 10px;
	 margin-left: auto;
	 margin-right: auto;
	 width: 100px;
}

figure {
	 display: inline-block;
}

figcaption {
	 margin-bottom: 0;
	 font-size: 10pt;
	 text-align: center;
}

.routes-panel {
	 width: 95%;
	 margin-left: auto;
	 margin-right: auto;
}

.glyphicon-spin {
	 -webkit-animation: spin 1000ms infinite linear;
	 animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
	 0% {
		  -webkit-transform: rotate(0deg);
		  transform: rotate(0deg);
	 }
	 100% {
		  -webkit-transform: rotate(359deg);
		  transform: rotate(359deg);
	 }
}
@keyframes spin {
	 0% {
		  -webkit-transform: rotate(0deg);
		  transform: rotate(0deg);
	 }
	 100% {
		  -webkit-transform: rotate(359deg);
		  transform: rotate(359deg);
	 }
}