.jumbotron {



         background: linear-gradient(rgba(0, 0, 0, 0.5),
        			     rgba(0, 0, 0, 0.5)), url('../img/fondo-pagina.jpg');
    color: white;
    height: 83vh;
    width: 100%;
    margin-bottom: 0px;


       /* height: 30%; */
       /* /\* background-size: cover;  *\/ */
       /* background: transparent; */
       /* padding: 110px; */



}

body{
  overflow: hidden;
}
