.transport-icon {
	 width: 52px;
	 height: 52px;
}

.line-3 {
	 color: rgb(165, 153, 56);
	 font-weight: bold;
}

.route-main-characteristic {
	 width: 70px;
	 height: 70px;
}

#route-instructions > ul {
    margin-top: 10px;
}

.route-step {
    margin-bottom: 10px;
}

figcaption.title {
	 font-size: 11pt;
	 font-weight: bold;
	 font-family: 'Helvetica';
}

.arrow {
	 width: 48px;
	 height: 48px;
}

.selected {
	 background: rgb(203, 235, 250);
}

.tab {
	 border-top-left-radius: 50px !important;
}

.route-img-summary {
	 margin-top: 20px;
}

figure {
	 display: inline-block;
}

.inline-text-icon {
	 width: 40px;
	 height: 40px;
}

.centered {
	 width: 100px;
	 height: 50px;
	 text-align: center;
	 display: inline-block;
}

figure > img {
	 text-align: center;
}

figcaption {
	 font-size: 10pt;
	 text-align: center;
}

.routes-panel {
	 width: 95%;
	 margin-left: auto;
	 margin-right: auto;
}

#genericos {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inherit;
	text-align: center;
}

#bar_icgenericos{
  background-color: #135184;
  margin: 1px 0 5px 0;
}

#genericos li{
	display: inline-block;
	color:blue;
	font-size: 3em;
	padding:0 25px;
}

#genericos li.active{
	color:red;
}
