{% extends "base_page.html" %}

{% block head %}
    {{ block.super }}

  <link rel="stylesheet" href="/static/css/route.css">
{% endblock %}

{% block page_content %}
<div class="row" id="bar_icgenericos">
    <div class="col-md-6" class="ic_genericos">
      <ul id="genericos">
          <li id="ic_metro" class="active">
            <img src="../static/img/genericos/metro_on.png" style="height:50px" alt="...">
          </li>
          <li id="ic_autobus">
            <img src="../static/img/genericos/autobus_off.png" style="height:50px" alt="...">
          </li>
          <li id="ic_caminar" class="active">
            <img src="../static/img/genericos/caminar_on.png" style="height:50px"  alt="...">
          </li>
          <li id="ic_taxi" class="active">
            <img src="../static/img/genericos/taxi_on.png" style="height:50px" alt="...">
          </li>
          <li id="ic_bici">
            <img src="../static/img/genericos/bici_off.png" style="height:50px" alt="...">
          </li>
      </ul>            
    </div>
</div>
<div class="routes-panel">
  <div id="routes-search-progress">
    <h3>
      Buscando rutas...
      <a id="update" href="#">
        <span class="glyphicon glyphicon-refresh glyphicon-spin"></span>
      </a>
    </h3>
  </div>

  <div class="row">
    <div class="col-md-6">
      <ul id="routes-list" class="list-group hidden">
        <li class="list-group-item row">
          <div class="col-xs-3 col-md-3 timer">
            <figure>
              <img src="/static/img/fastest_icon_on.png" alt="fastest route"
                   class="route-main-characteristic"/>
              <figcaption class="title">
                30 min
              </figcaption>
              <figcaption class="title">
                55 pesos
              </figcaption>
            </figure>
          </div>
          <div class="col-xs-9 col-md-9 route-img-summary">
            <figure>
              <img src="/static/img/pedestrian-icon.png" alt="ecobici" class="transport-icon"/>
              <figcaption>
                5 min
              </figcaption>
            </figure>
            <figure>
              <img src="/static/img/arrow.png" alt="metro" class="transport-icon"/>
              <figcaption>
                &nbsp;
              </figcaption>
            </figure>
            <figure>
              <img src="/static/img/metro-icon.png" alt="metro" class="transport-icon"/>
              <figcaption>
                15 min
              </figcaption>
            </figure>
            <figure>
              <img src="/static/img/arrow.png" alt="metro" class="transport-icon"/>
              <figcaption>
                &nbsp;
              </figcaption>
            </figure>
            <figure>
              <img src="/static/img/taxi-icon.png" alt="metro" class="transport-icon"/>
              <figcaption>
                10 min
              </figcaption>
            </figure>
          </div>
        </li>

        <li class="list-group-item row">
          <div class="col-xs-3 col-md-3 timer">
            {# <input type="text" value="57" class="dial"/> #}
            <figure>
              <img src="/static/img/cheap-icon-blue.png" alt="fastest route"
                   class="route-main-characteristic"/>
              <figcaption class="title">
                57 min
              </figcaption>
              <figcaption class="title">
                17 pesos
              </figcaption>
            </figure>
          </div>
          <div class="col-xs-9 col-md-9 route-img-summary">
            <figure>
              <img src="/static/img/microbus-icon.png" alt="ecobici" class="transport-icon"/>
              <figcaption>
                10 min
              </figcaption>
            </figure>
            <figure>
              <img src="/static/img/arrow.png" alt="metro" class="transport-icon"/>
              <figcaption>
                &nbsp;
              </figcaption>
            </figure>
            <figure>
              <img src="/static/img/metro-icon.png" alt="metro" class="transport-icon"/>
              <figcaption>
                10 min
              </figcaption>
            </figure>
            <figure>
              <img src="/static/img/arrow.png" alt="metro" class="transport-icon"/>
              <figcaption>
                &nbsp;
              </figcaption>
            </figure>
            <figure>
              <img src="/static/img/pedestrian-icon.png" alt="pedestrian" class="transport-icon"/>
              <figcaption>
                2 min
              </figcaption>
            </figure>
            <figure>
              <img src="/static/img/arrow.png" alt="metro" class="transport-icon"/>
              <figcaption>
                &nbsp;
              </figcaption>
            </figure>
            <figure>
              <img src="/static/img/microbus-icon.png" alt="ecobici" class="transport-icon"/>
              <figcaption>
                35 min
              </figcaption>
            </figure>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-md-6 selected hidden" id="route-instructions">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row route-step">
            <div class="col-md-2">
              <figure>
                <img src="/static/img/pedestrian-icon.png" alt="pedestrian"
                     class="transport-icon"/>
                <figcaption>
                  5 min
                </figcaption>
              </figure>
            </div>

            <div class="col-md-10">
              <p>Camina sobre <strong>Abasolo</strong> hasta
                <strong>Venustiano Carranza</strong></p>
              <p>Da vuelta a la izquierda</p>
              <p>Camina hasta la estacion de <strong>Metro Chapultepec</strong></p>
            </div>
          </div>
        </li>

        <li class="list-group-item">
          <div class="row route-step">
            <div class="col-md-2">
              <figure>
                <img src="/static/img/metro-icon.png" alt="metro" class="transport-icon"/>
                <figcaption>
                  15 min
                </figcaption>
                <figcaption>
                  5 pesos
                </figcaption>
              </figure>
            </div>

            <div class="col-md-10">
              <p>
                <img src="/static/img/metro/linea-1/chapultepec.png" alt="estacion chapultepec"
                     class="inline-text-icon">
                Aborda la estación <strong>Chapultepec</strong> en
                <em>dirección Pantitlán</em>
              </p>
              <p>
                <img src="/static/img/metro/linea-3/balderas.png" alt="estacion balderas"
                     class="inline-text-icon">
                Transborda en la estación <strong>Balderas</strong> hacia la
                <span class="line-3">Línea 3</span> <em>en dirección Indios Verdes</em>
              </p>
              <p>
                <img src="/static/img/metro/linea-3/hidalgo.png" alt="estacion balderas"
                     class="inline-text-icon">
                Bájate en la estación <strong>Hidalgo</strong> por la
                <em>salida hacia Av. Reforma</em>
              </p>
            </div>
          </div>
        </li>

        <li class="list-group-item">
          <div class="row route-step">
            <div class="col-md-2">
              <figure>
                <img src="/static/img/taxi-icon.png" alt="taxi" class="transport-icon"/>
                <figcaption>
                  10 min
                </figcaption>
                <figcaption>
                  50 pesos
                </figcaption>
              </figure>
            </div>

            <div class="col-md-10">
              <p>
                Toma un taxi que te lleve hacia tu destino final
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

</div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="/static/js/route.js"></script>
  <script src="/static/js/genericos.js"></script>
{% endblock %}
