{% extends "base_page.html" %}
{% block head %}
{{ super() }}

<style>
      #map {
        width: 1200px;
        height: 800px;
    margin-left: auto;
    
        
      }
</style>



<link rel="stylesheet" href="/static/css/main.css">

<!-- en este .js es donde se cargan los puntos que componen el layer geojson-->


<script src="/static/js/rutas.js" type="text/javascript"></script>



{% endblock %}

{% block page_content %}


<div id="map"></div>




<script>

		var map = L.map('map').setView([19.43270,-99.13412], 13);

		L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
			maxZoom: 18,
			attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
				'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
				'Imagery © <a href="http://mapbox.com">Mapbox</a>',
			id: 'examples.map-i875mjb7'
		}).addTo(map);


		L.marker([19.43270,-99.13412]).addTo(map)
			.bindPopup("<b>Inicio </b><br />Mi primera ruta.").openPopup();
		

		//addTo(map).bindPopup("Circulo.");


//pop up ejemplo para que se muestre como funciona leaflet

		
		var popup = L.popup();

		function onMapClick(e) {
			popup
				.setLatLng(e.latlng)
				.setContent("Hiciste click en " + e.latlng.toString())
				.openOn(map);
		}

		map.on('click', onMapClick);


/// defino la funcion OnEachFeature para despues cargarla en la layer

	function onEachFeature(feature, layer) {
			var popupContent = "<p> Estacion " +
					feature.geometry.type + "soy una parada</p>";

			if (feature.properties && feature.properties.popupContent) {
				popupContent += feature.properties.popupContent;
			}

			layer.bindPopup(popupContent);
		}

//layer geojson, para cargar los datos, estos se cargan de rutas.js


L.geoJson( rutas, {
 			style: function (feature) {
				return feature.properties && feature.properties.style;
			},

			onEachFeature: onEachFeature,

			pointToLayer: function (feature, latlng) {
				return L.circleMarker(latlng, {
					radius: 3,
					fillColor: "#ff7800",
					color: "#000",
					weight: 1,
					opacity: 1,
					fillOpacity: 0.8
				});
			}
		}).addTo(map);



	</script>






{% endblock %}

{% block scripts %}
{{ super() }}


<script type="text/javascript" initmap(); </script>


{% endblock %}

