{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/search.css">
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
{% endblock %}


{% block content %}
<div class="row">
	<form class="form-horizontal my-form" id="search-form">
		<div class="form-group has-feedback">
			<label class="control-label col-md-3" for="origin">
				<strong>Estación origen:</strong>
			</label>
			<div class="col-md-8">
				<input type="text" class="form-control" name="origin" id="origin"
					placeholder="e.g. Tacuba" required autofocus />
			</div>
		</div>

		<div class="form-group has-feedback">
			<label class="control-label col-md-3" for="destination">
				<strong>Estación destino:</strong>
			</label>
			<div class="col-md-8">
				<div class="input-group">
					<input type="text" class="form-control" name="destination" id="destination"
						placeholder="e.g. Insurgentes" required />
					<span class="input-group-btn">
						<button class="btn btn-primary" id="search-route">Buscar</button>
					</span>
				</div>
			</div>
		</div>
	</form>
	
	<div class="">
		<div id="map"></div>
	</div>
</div>

{% endblock %}


{% block scripts %}
{{ super() }}
<script src="/static/js/rutas.js"></script>
<script src="/static/js/search.js"></script>
{% endblock %}
